:root{
    --color-background: #f6f6f9;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;

}


aside {
    display: flex; /* Torna o aside um container flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-left: 5.5%;
    width: 100%; /* Garante que o aside ocupe 100% da largura */
    background-color: var(--color-info-dark);
}

img {
    width: 80px;
    height: 80px;
}

.logo {
    display: flex; /* Torna a div.logo um container flexível */
    align-items: center; /* Centraliza os itens verticalmente */
    gap: 10px; /* Espaçamento entre o logo e o texto */
}

.logo-texto h3 {
    margin: 0; /* Remove margens padrão do título */
    color: #fff; /* Cor do texto para contraste */
}

.logo-texto h3 span {
    color: #54382b; /* Cor personalizada para o destaque */
}


@media screen and (max-width: 768px){
    aside{
        margin-left: 0;
    }
}


/* Centraliza o conteúdo na tela */
body, html {
    margin: 0;
    padding: 0;
}

/* Centraliza a div .conteudo sem afetar o body */
.conteudo {
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 20px; /* Adiciona espaçamento interno para telas pequenas */
}

main {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}


.logo-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-header img {
    height: 60px;
}

.dashboard-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.cards-metricas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex: 1;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    text-align: center;
}

.grafico-vendas {
    flex: 2;
    background: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
